<% announcement.each do |_announcement| %>
    <li>
        <div class="container">
            <div>
            <p>Contenido: <%= _announcement.content %></p>
            <p>Expira: <%= _announcement.expire %></p>
            </div>
        </div>
        <p>
            <%= link_to "Show", _announcement%>
        </p>
    </li>
<% end %>