<li>
    <div class="container">
        <div>
        <p>Contenido: <%= announcement.content%></p>
        <p>Visto: <%= announcement.see%></p>
        <p>Expira: <%= announcement.expire%></p>
        </div>
    </div>
    <p>
        <%= link_to "Show", announcement%>
    </p>
</li>