<div class="container">
    <div>
    <h2>Posted by <%= link_to announcement.user.name, user_profile_path(announcement.user)  %></h2>
       <p>Contenido: <%= announcement.content%></p>
       <%# <p>Visto: <%= announcement.see%>
       <p>Expira: <%= announcement.expire%></p>
    </div>

</div>
