<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Announcements</h1>
  <div>
      <% @announcements.each do |announcement|  %>
          <%= render announcement %>
          <p>
            <%= link_to "Show", announcement%>
          </p>
      <% end %>
  </div>
  <div>
      <%= link_to "New Announcement", new_announcement_path %>
  </div>
</div>