<div class="container">
    <h1>New Announcement</h1>
      <%= render 'form', announcement: @announcement, class:"" %>
    <br>
    <div>
      <%= link_to 'Back', announcements_path,class:"btn btn-outline-secondary mt-2" %>
    <div>
</div>